//-
  Section for declaring a character.

  The `block` content of this mixin is the
  content for the card under the title which
  is the main body.

  This is the only mixin that should be used
  for declaring new characters.

  Arguments:
    options: {
      image: url or location of image
      color: hex color,
      title: {
        image?: url or location of small image
        name: name of the character
        quote: character quote
      }
      strengths: string[]
      weaknesses: string[]
    }
  //
mixin girl-section(options)
  div.root-item.girl-section(style={ 'background-color': options.color })
    .columns.narrow-width.is-mobile
      .column.is-one-quarter.girl-image-column
        img.image.girl(src=options.image)
      .column.is-three-quarters.girl-content
        .section
          .content
            .columns
              .column
                +_girl-title({
                  image: options.title.image,
                  name: options.title.name,
                  quote: options.title.quote
                })
                br
                +_girl-content()
                  block
              .column
                +_girl-list({
                  name: "Strengths",
                  items: options.strengths
                })
                br
                +_girl-list({
                  name: "Weaknesses",
                  items: options.weaknesses
                })

//-
  Header section for the characters

  Arguments:
    options: {
      image: image url
      name: character name
      quote: quote from the character
    }
  //
mixin _girl-title(options)
  .card
    .card-content.card.is-size-7-mobile.is-size-5-tablet.is-size-4-desktop
      .level.is-mobile
        .level-left.shrink
          if options.image
            .level-item
              .icon.is-large
                img.image.is-rounded(src=options.image)
          .level-item.no-grow.shrink
            p.title.is-size-4-mobile=options.name
      p.subtitle.is-size-6-mobile=options.quote

//-
  Content holder for the characters
  //
mixin _girl-content
  .card
    .card-content.card.is-size-5-mobile.is-size-5-tablet.is-size-4-desktop.content
      block


//-
  Bullet-point list for characters

  Arguments:
    {
      name: string
      strengths: string[]
    }
  //
mixin _girl-list(options)
  .card.is-size-6-mobile.is-size-6-tablet.is-size-5-desktop
    .card-header.is-size-6-mobile
      .card-header-title=options.name
    .card-content
      ul
        for item in options.items
          li=item

mixin section-header(title)
  .root-item.section-header.has-text-centered(style="cursor: pointer;" data-label=title)
    h1.has-text-white-ter.is-size-2-desktop.is-size-2-tablet.is-size-2-mobile.shadowed(style="position: relative")=title

//-
  Tweet from the girls
  Arguments:
    options {
      avatar: twitter avatar
      name: username
      tag: twitter tag
      verified?: verified tickmark?
      content: text content of the tweet
      image?: image included in tweet
      hashtags?: hashtags included at the end
      time: time of the tweet
    }
mixin tweet(options)
  .tweet-container
    .card.tweet
      .card-content
        .media
          .media-left
            figure.image.is-48x48
              img(src=options.avatar)
          .media-content
            .container
              p.title.is-4.tweet-name.is-flex=options.name
                if options.verified
                  span.icon.is-32x32.is-vcentered
                    img(src="https://cdn.iconverticons.com/files/png/2ebd86c6b88dd219_256x256.png" style="margin-left: 10px;")
              p.subtitle.has-text-grey.is-6=options.tag
        .content=options.content
          if options.image
            img.tweet-image(src=options.image)
          br
          if options.hashtags
            for hashtag in options.hashtags
              - const url = `https://twitter.com/hashtag/${hashtag}`;
              - const content = `\#${hashtag} `;
              a(target="_blank" href=url)=content
          br
          time=options.time
          .level.is-mobile.twitter-controls-container
            .level-left
              .level-item
                span.tweet-controls.has-text-info(neutral)
                  i.fas.fa-retweet
                  span.spaced-l=options.retweets
              .level-item
                .tweet-controls.has-text-danger(neutral)
                  i.far.fa-heart
                  span.spaced-l=options.likes
