//-
  Section for the characters
  options: {
    sectionStyle: object,
    contentStyle: object,
    image: string
  }
  //
mixin girl-section(options)
  div.girl-section(style=options.sectionStyle || {})
    .columns.narrow-width
      .column.is-one-quarter.girl-image-column
        img.image.girl(src=options.image)
      .column.is-three-quarters.girl-content
        .section
          .content
            block

//-
  Header section for the characters
  options: {
    image: image url
    name: character name
    quote: quote from the character
  }
  //
mixin girl-title(options)
  .card
    .card-content.card.is-size-7-mobile.is-size-5-tablet.is-size-4-desktop
      .level.is-mobile
        .level-left
          .level-item
            .icon.is-large
              img.image(src=options.image)
          .level-item
            p.title.is-size-4-mobile=options.name
      p.subtitle.is-size-6-mobile=options.quote

//-
  Content holder for the characters
  //
mixin girl-content
  .card
    .card-content.card.is-size-5-mobile.is-size-5-tablet.is-size-4-desktop
      block


//-
  Bullet-point list for characters
  {
    name: string
    strengths: string[]
  }
  //
mixin girl-list(options)
  .card.is-size-6-mobile.is-size-6-tablet.is-size-5-desktop
    .card-header.is-size-6-mobile
      .card-header-title=options.name
    .card-content
      ul
        for item in options.items
          li=item
